html {
  background: $color-bg;
  font-size: $font-size;
  height: 100%;
}

body {
  background: $color-bg;
  color: $color-text;
  font-family: $font-family;
  font-size: $font-size;
  line-height: $line-height;
}

.content-base {
  width: $site-width;
}
