@mixin clearfix {
  zoom: 1;
  
  &:after {
    clear: both;
    content: '';
    display: table;
  }
}

@mixin media($media-size) {
  @if $media-size == pc_min {
    @media screen and (max-width: $break-point-pc) {
      @content;
    }
  } @else if $media-size == pc {
    @media screen and (min-width: $break-point-sp) {
      @content;
    }
  } @else if $media-size == sp {
    @media screen and (max-width: $break-point-sp) {
      @content;
    }
  } @else if $media-size == landscape {
    @media only screen and (orientation: landscape) {
      @content;
    }
  }
}
