// ------------------------------------
// Size
// ------------------------------------
$SITE_WIDTH: 960px;

// ------------------------------------
// Mediaquery
// ------------------------------------
$BREAK_POINT_PC: 1180px;
$BREAK_POINT_TABLET: 880px;
$BREAK_POINT_SP: 640px;

// ------------------------------------
// Font
// ------------------------------------
$FONT_SIZE: 14rem;
$FONT_FAMILY: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "Osaka", sans-serif;
$LINE_HEIGHT: 1.5;

// ------------------------------------
// Color
// ------------------------------------
$COLOR_TEXT: #000000;
$COLOR_BG: #ffffff;

$COLOR_LINK: #001dff;
$COLOR_LINK_VISITED: #00129f;
$COLOR_LINK_HOVER: #001dff;
$COLOR_LINK_ACTIVE: #001dff;
$COLOR_LINK_FOCUS: #001dff;