// Size
// ------------------------------------
$site-width: 960px;

// Mediaquery
// ------------------------------------
$break-point-pc: 1180px;
$break-point-tablet: 880px;
$break-point-sp: 640px;

// Font
// ------------------------------------
$font-size: 1rem;
$font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "Osaka", sans-serif;
$line-height: 1.5;

// Color
// ------------------------------------
$color-black: #000;
$color-white: #fff;
$color-blue: #001dff;
$color-yellow: #ff0;
$color-gray: #c0c0c0;

$color-text: $color-black;
$color-bg: $color-white;

$color-link: $color-blue;
$color-link-visited: #00129f;
$color-link-hover: $color-blue;
$color-link-active: $color-blue;
$color-link-focus: $color-blue;
