// ----------------------------------------
// Color
// ----------------------------------------

// Corporate Color
$color-primary: #E50113;
$color-secondary: #12BA7A;

// Product Color
$color-nenga: #B68E3B;
$color-print: #FF5381;
$color-photobook: #01BBE5;
$color-postcard: #00b494;
$color-fuji: #00A200;
$color-pro: #00C4D8;

// Action Color
$color-order: #ffac00;
$color-link: #135CFF;

// Object Color
$color-border: #dbdbdb;
$color-error: red;

// Basic Color
$color-red: red;
$color-white: white;
$color-black: black;


// ----------------------------------------
// Font Size
// ----------------------------------------

$font-size-base: 14px;


// ----------------------------------------
// Breakpoints
// ----------------------------------------

$breakpoints: (
    'sm': 360px,
    'md': 720px,
    'lg': 960px,
    'xl': 1200px
) !default;