.box {
	padding: 10px;
	height: 60px;
	background: #f5f5f5;
	display: block;
	border: 1px solid $color-border;
	border-radius: 4px;
}

.cls-1 {
	fill: rgba(0,0,0,1);
	stroke: #000000;
	stroke-width: 5px;
	stroke-dasharray: 5000;
	stroke-dashoffset:5000;
	animation: dash 10s linear alternate forwards;
}

@keyframes dash {
	0% {
		stroke-dashoffset: 5000;
	}
	100% {
		stroke-dashoffset: 0;
	}
}